<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5"/>
    <meta name="theme-color" content="#448AFF">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#448AFF">
    <meta name="apple-mobile-web-app-title" content="A quest: How to get a second date">

    <title>A quest: How to get a second date</title>

    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="index.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:400,900" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <div v-if="debug">
        <router-view></router-view>
      </div>
      <div id="main">
        <div id="background"></div>
        <img src="images/center.png" alt="Center kakovosti odnosev" id="logo">
        <div id="title">A quest:<br>How to get a second date</div>
        <div id="subtitle">
          Uvodni tekst. Uvodni tekst.<br>
          Uvodni tekst. Uvodni tekst.<br>
          Uvodni tekst. Uvodni tekst.<br>
          Uvodni tekst. Uvodni tekst.
        </div>
        <div v-for="category in categories">
          <div class="category" v-bind:class="{ selected: category.isExpanded }" v-on:click="category.isExpanded = !category.isExpanded">{{ category.name }}</div>
          <div class="categories" v-if="category.isExpanded">
            <div v-for="(task, index) in category.tasks" class="task">
              <span class="check" v-on:click="task.isComplete = !task.isComplete">
                <img src="images/smile.png" alt="Smile" class="completed" v-if="task.isComplete">
                <span class="not-completed" v-if="!task.isComplete"></span>
                <span class="index">{{ index+1 }}.</span>
              </span><span calss="tasktext">{{ task.text }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <noscript>Sorry, your browser does not support JavaScript!</noscript>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pouchdb/6.4.3/pouchdb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.min.js"></script>
    <script src="vuepouch.js"></script>
    <script src="index.js"></script>
	  <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", function() {
          navigator.serviceWorker.register("worker.js").then(function(registration) {
            console.log("ServiceWorker registration successful with scope: ", registration.scope);
          }, function(err) {
            console.log("ServiceWorker registration failed: ", err);
          });
        });
      }
    </script>
  </body>
</html>